@model CentralizedApps.Models.Dtos.MunicipalitiesAndSocialMediaTypeDto
@{
    ViewData["Title"] = "MunicipalitySocialMediaIndex";
    Layout = "Layout";
}

@if (TempData["Message"] != null)
{
    <div id="tempMessage"
        class="alert @(TempData["MessageType"]?.ToString() == "success" ? "alert-success" : "alert-error")">
        @TempData["Message"]
    </div>
}


<div class="card bg-base-300 rounded-box p-6 gap-y-10">
    <h1 class="font-bold text-3xl text-center mb-6">Redes Sociales</h1>

    <div class="card bg-base-200 rounded-box grid grid-cols-1 md:grid-rows-1 p-10 gap-y-6">
        <h2 class="font-bold text-2xl text-center mb-6">Red social</h2>
        <Form asp-action="updateSocialType" asp-controller="Municipality">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Seleccionar red social existente</legend>
                    <select id="selectSocialType" name="id" class="select w-full" required>
                        <option disabled selected value="">Seleccione una Red Social</option>
                        @foreach (var socialMediaType in Model.socialMediaTypes)
                        {
                            <option value="@socialMediaType.Id">@socialMediaType.Name</option>
                        }
                    </select>
                </fieldset>

                <div class="flex flex-col">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Nombre del la red social</legend>
                        <input id="inputSocialType" type="text" class="input w-full" name="Name"
                            placeholder="Ej: Facebook" required />
                    </fieldset>

                    <div class="grid w-full grid-cols-1  gap-6 p-5">
                        <div class="flex w-full  flex-col lg:flex-row gap-4 justify-end">
                            <button type="button" class="btn btn-soft btn-success"
                                onclick="my_modal_3.showModal()">Crear</button>
                            <button type="submit" name="updateSocialType"
                                class="btn btn-soft btn-warning">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </Form>
    </div>

    <div class="card bg-base-200 rounded-box grid grid-cols-1 md:grid-rows-1 p-5 md:p-10 gap-y-6">
        <h2 class="font-bold text-2xl text-center mb-6">Red Social Municipio</h2>
        <Form asp-action="CreateMuncipalitySocialMedia" asp-controller="Municipality">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Seleccionar Municipio existente</legend>
                    <select id="selectMunicipality" name="municipalityId" class="select w-full" required>
                        <option disabled selected value="">Municipios</option>
                        @foreach (var municipality in Model.municipalities)
                        {
                            <option value="@municipality.Id">@municipality.Name</option>
                        }
                    </select>
                </fieldset>

                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Seleccionar red social existente</legend>
                    <select id="selectSocialType" name="socialMediaTypeId" class="select w-full" required>
                        <option disabled selected value="">Red Social</option>
                        @foreach (var socialMediaType in Model.socialMediaTypes)
                        {
                            <option value="@socialMediaType.Id">@socialMediaType.Name</option>
                        }
                    </select>
                </fieldset>

                <fieldset class="fieldset w-full">
                    <legend class="fieldset-legend">Enlace integración</legend>
                    <input type="text" class="input w-full" name="url" placeholder="Enlace integración" required />
                </fieldset>

                <fieldset class="fieldset  flex justify-center items-center gap-3">
                    <legend class="fieldset-legend text-center">Estado</legend>
                    <input type="checkbox" class="toggle toggle-success" name="IsActive" value="true"  required/>
                    <input type="hidden" name="IsActive" value="false" />
                </fieldset>
            </div>

            <div class="grid w-full grid-cols-1  gap-6 p-5">
                <div class="flex w-full  flex-col lg:flex-row gap-4 justify-end">
                    <button type="submit" class="btn btn-soft btn-success">Crear</button>
                </div>
            </div>
        </Form>
    </div>


    <div class="card bg-base-200 rounded-box grid grid-cols-1 md:grid-rows-1 p-5 md:p-10 gap-y-6">
        <h2 class="font-bold text-2xl text-center mb-6">Actualizar red social</h2>
        <div class="flex flex-col items-center justify-center ">
            <div class="avatar">
                <div class="mask mask-squircle h-24 w-24">
                    <img src="@Model?.municipality?.IdShield?.Url" alt="escudo municipio" />
                </div>
            </div>
            <div class="text-center">
                <h1 class="font-bold text-2xl">@Model?.municipality?.Name</h1>
                <p class="text-sm opacity-70">@Model?.municipality?.Department?.Name</p>
            </div>
        </div>
        <div class="grid gap-4">

            <form asp-action="SelectMunicipalitySocialMedia" asp-controller="Municipality" method="post">
                <fieldset class="fieldset w-full md:w-1/3">
                    <legend class="fieldset-legend">Seleccionar Municipio existente</legend>
                    <select id="selectMunicipality" name="id" class="select w-full" onchange="this.form.submit()" required>
                        <option disabled selected value="">Municipios</option>
                        @foreach (var municipality in Model?.municipalities ?? new List<Municipality>())
                        {
                            <option value="@municipality.Id">@municipality.Name</option>
                        }
                    </select>
                </fieldset>
            </form>

            @foreach (var municipalitySocialMedium in Model?.municipalitySocialMedia ?? new
                        List<MunicipalitySocialMedium>())
            {
                <form asp-action="updateMunicipalitySocialMedium" asp-controller="Municipality" method="post"
                    id="updateSection">
                    <div class="bg-base-300 p-4 rounded-lg grid grid-cols-1  md:grid-cols-4 gap-4 items-center">

                        <input type="hidden" name="MunicipalityId" value=@municipalitySocialMedium.MunicipalityId>
                        <input type="hidden" name="id" value=@municipalitySocialMedium?.Id>

                        <select class="select w-full " name="SocialMediaTypeId" required>
                            <option disabled selected value="">Seleccione red</option>
                            @foreach (var municipalitySocial in Model?.socialMediaTypes ?? new
                                                    List<SocialMediaType>())
                            {
                                <option value="@municipalitySocial.Id"
                                    selected="@(municipalitySocial?.Id == municipalitySocialMedium?.SocialMediaTypeId)">
                                    @municipalitySocial?.Name</option>
                            }
                        </select>

                        <input type="text" name="Url" class="input w-full" placeholder="Enlace integración"
                            value=@municipalitySocialMedium?.Url required />
                        <div class="flex flex-col md:flex-row justify-center items-center gap-2 justify-self-center">
                            <span>Estado</span>
                            <input type="checkbox" name="IsActive" value="true" class="toggle toggle-success"
                                @(municipalitySocialMedium?.IsActive == true ? "checked" : "") />
                            <input type="hidden" name="IsActive" value="false" />
                        </div>
                        <button type="submit" class="btn btn-soft btn-accent w-2/3 justify-self-center ">Guardar
                            cambios</button>

                    </div>
                </form>
            }

        </div>

    </div>

</div>


<dialog id="my_modal_3" class="modal">
    <div class="modal-box">
        <form method="dialog" class="flex justify-end">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form asp-action="CreateSocialType" asp-controller="Municipality">
            <div class="flex flex-col">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Nombre del la red social</legend>
                    <input id="inputSocialType" type="text" class="input w-full" name="Name"
                        placeholder="Ej: Facebook" required/>
                </fieldset>
                <button class="btn btn-soft btn-success">Crear</button>
            </div>
        </form>
    </div>
</dialog>

<script>
    const selectDepartment = document.getElementById("selectSocialType");
    const inputDepartment = document.getElementById("inputSocialType");

    selectDepartment.addEventListener("change", function () {
        const selectedText = this.options[this.selectedIndex].text;
        inputDepartment.value = selectedText;
    });

    setTimeout(() => {
        const msg = document.getElementById("tempMessage");
        if (msg) {
            msg.style.transition = "opacity 0.5s";
            msg.style.opacity = "0";
            setTimeout(() => msg.remove(), 500);
        }
    }, 2000);

    new TomSelect("#selectSocialType", {
        create: false,
        sortField: { field: "text", direction: "asc" },
        placeholder: "Seleccione una red social",
        allowEmptyOption: true
    });
    window.addEventListener("beforeunload", function () {
        localStorage.setItem("scrollPosition", window.scrollY);
    });

    window.addEventListener("load", function () {
        const scrollY = localStorage.getItem("scrollPosition");
        if (scrollY !== null) {
            window.scrollTo(0, parseInt(scrollY));
            localStorage.removeItem("scrollPosition");
        }
    });


</script>